@import 'theme';
@import 'default';


i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
  background: $black4;
  user-select: none;
}

header{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $black2;
  border-top: $border-width solid $theme;
  border-bottom: $border-width solid $black1;
  nav{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    i{
      color: $theme-bright;
      font-size: 40px;
      padding: 6px;
    }
    i.active{
      background: $theme2;
      border-radius: 30px;
      color: $black2;
    }
  }
}

main{
  padding: 20px;
  padding-bottom: 88px;
}
